/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common styles */

body {
    font-family: 'Poppins', sans-serif;
}

/* header part starts */

.header-container {
    background-color: #2D25A0;
    width:1440;
    height:677px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.header-section{
   
    width:1143px; 
    display:flex;
    justify-content:space-between;
}

.heading {
    width:485px;
    height:230px;
}

.heading-title {
    color:#ffffff;
    font-size:64px;
    line-height:80px;
}

.button-style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 44px;
    background: #E02C6D;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.icon-gap{
    margin-left: 10px;
}


.banner img {
    width:556px;
    height:438px;
}

/* header part ends  */
