/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common styles */

/* * {
    margin:0;
    padding:0;
} */

body {
    font-family: 'Poppins', sans-serif;
    margin:0;
}

/* header part starts */

.header-container {
    background-color: #2D25A0;
    width:1440;
    height:677px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.header-section{
   
    width:1143px; 
    display:flex;
    justify-content:space-between;
}

.heading {
    width:485px;
    height:230px;
}

.heading-title {
    color:#ffffff;
    font-size:64px;
    line-height:80px;
}

.button-style{
    margin-top:-20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.button-style:hover {
    background-color:coral;
    color: black;
    transition: background-color,color 1s linear; 
    transform: scaleY(1.2);
}

.icon-gap{
    margin-left: 10px;
}


.banner 
img {
    width:556px;
    height:438px;
}

/* header part ends  */



/* player info section starts */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.player-container {
    /* width:1050; */
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    /* background:violet; */
    margin-top: 70px;
    margin-bottom: 100px;
    /* border:3px solid black; */
    
}

.player {
    width: 300px;
    height: 474px;
    background-color: #ffffff;
    padding:15px;
    /* display:flex;
    flex-direction: column; */
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}

.player 
.player-image {
    width: 300px;
}

.player 
.player-image img {
    width: 100%;
    height: 256px;
}

.player 
.player-info {
    padding-top:0;
    width:300px;
    height: 154px;
    /* background-color: teal; */
}

.player-info 
.player-name {
    color:#8a2be2;
    font-size: 28px;
    font-weight: 700;
    
}

.player-info 
.player-details {
    color: #6C6C6C;
    font-weight: 400;
    font-size: 16px;
}

/* player info section ends  */



/* top player section start  */

.top-players-container {
    margin-bottom: 100px;
}

.top-players {
    display: flex;
    justify-content: space-between;
    width: 1102px;
}

.top-players-title , .top-goals-title{
    color:blueviolet;
    font-size: 30px;
    text-align: center;
    margin-bottom: 80px;
}
.top-players-photo {
    width: 30%;
    height:350px;
    /* margin-right:20px; */
}

.top-players-name {
    color: #ffffff;
    margin-left: 10px;
    display:none;
}

.top-players-photo.left {
    background-image: url("../images/players/player-3.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.top-players-photo.middle {
    background-image: url("../images/players/player-2.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.top-players-photo.right {
    background-image: url("../images/players/player-1.png");
    background-repeat: no-repeat;
    background-size:cover;
}

.top-players-photo.left:hover,
.top-players-photo.middle:hover,
.top-players-photo.right:hover{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

.top-players-photo.left:hover .top-players-name,
.top-players-photo.middle:hover .top-players-name,
.top-players-photo.right:hover .top-players-name{
    display: block;
}

/* top player section end  */



/* top goal section start  */

.top-goals-container {
    margin-bottom: 250px;
}

.top-goals {
    display: flex;
    justify-content: space-between;
    width: 1102px;
}

.top-goals-clip {
    width: 30%;
    height:300px;
    /* margin-right:20px; */
}

.top-goals-clip{
    width:25%;
    /* background-color:yellow; */
    border:5px solid cornflowerblue;
}

/* top goal section end  */


/* footer section start  */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section {
    width:484px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.footer-section .logo img {
    width: 100%;
    height: 110px;
    margin-bottom:20px;
}

.footer-section .icon {
    /* background-color: cyan; */
    width: 170px;
    height: 32px;
    display:flex;
    justify-content:center;
}

.icon-section {
    display: flex;
    margin-bottom:20px;
}
.icon-section .icon {
    width: 32px;
    height: 32px;
    margin-right:7px;
}

.footer-section .copyright {
    width: 236px;
    height: 31px;
}

.footer-section .copyright span {
    justify-content: center;
    font-weight:400px;
    color:darkcyan;
}

